.signup-favicon-margin{
  margin-left: -30px;
}

.h1 {
    color: rgb(70, 70, 70);
    font-family:'Times New Roman', Times, serif;
}
.Signup-dimensions{
  width: 100%;
  margin-bottom: 200px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 100px;
  
}
.Sign-up-text{
  height: 25px;
}
.background-color{
  background-color: rgb(255, 255, 255);
}
.text-black{
  border-width: 4px;
  
  
}